dao_cfg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dao">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dbhost" type="xs:string" minOccurs="0"/>
        <xs:element name="dbuname" type="xs:string" minOccurs="0" />
        <xs:element name="dbpcc" type="xs:string" minOccurs="0" />
        <xs:element name="dbport" type="xs:unsignedShort" minOccurs="0" />
        <xs:element name="dboption" type="xs:string" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="type" use="required" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="sqlite" />
            <xs:enumeration value="mysql" />
            <xs:enumeration value="sqlserver" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dbname" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>